/*FONTS - IBM PLEX SANS*/

@font-face {
    font-family:'IBMPlexSans-Bold';
    src: url('../fonts/IBM Plex Sans/IBMPlexSans-Bold.ttf');
}

@font-face {
    font-family:'IBMPlexSans-Medium';
    src: url('../fonts/IBM Plex Sans/IBMPlexSans-Medium.ttf');
}

@font-face {
    font-family:'IBMPlexSans-Light';
    src: url('../fonts/IBM Plex Sans/IBMPlexSans-Light.ttf');
}

/*FONTS - LATO*/
@font-face {
    font-family:'LatoBlack';
    src: url('../fonts/Lato/Lato-Black.ttf');
}

@font-face {
    font-family:'LatoBold';
    src: url('../fonts/Lato/Lato-Bold.ttf');
}

/* CSS GERAL */

body{
    margin: 0px;
}

.t1{
    color: rgb(77, 77, 77);
    font-family: 'IBMPlexSans-Bold';
    font-size: 25px;
    text-transform: uppercase;
}

.p{
    color: rgb(77, 77, 77);
    font-family: 'IBMPlexSans-Light';
    font-size: 13px;
}

.btn-sabermais-img:hover{
    filter: grayscale();
}

/* CSS TITULO */

#topo{
    position: absolute;
    z-index: 100;
}

.cabecalho-titulo{
    color:rgb(77, 77, 77)!important;
    font-family:'IBMPlexSans-Bold';
    font-size: 35px;
    margin-top: 52px;
    text-transform: uppercase; 
}

.linha-cabecalho{
    border-top: 1px solid rgb(112, 112, 112);
    margin-top: 10px;
}

/* CSS BARRA NAVEGACAO */

.nav-link{
    color: rgb(77, 77, 77);
    font-family: 'LatoBlack';
    font-size: 18px;
    margin-right: 10px;
    text-transform: uppercase;
}

.nav-link:hover{
    color: rgb(177, 126, 51);
}

.nav-link.active{
    color: rgb(177, 126, 51)!important;
}

.dropdown-menu{
    color: rgb(77, 77, 77);
    border: none;
    border-radius: 0px;
    box-shadow: 0px 0px 17px 0px;
    font-family: 'IBMPlexSans-Medium';
    font-size: 13px;
    padding: 25px 15px 30px 15px;
    text-transform: uppercase;
}

.dropdown-item:hover{
    color: rgb(180, 125, 51)!important;
}

/* CSS CARROSSEL */

#area-banner{
    font-family: 'IBMPlexSans-Light';
    margin: 0px -15px;
}

.carousel-item > img{
    width: 1280px;
    height:730px;
}

.carousel-caption{
    position: absolute;
    text-align: left;
    top: 35%;
}

.banner-novidade{
    color: rgb(180, 125, 51);
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.banner-titulo{
    color: rgb(77, 77, 77);
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 15px;
    text-transform: uppercase;
    width: 45%;
}

.banner-texto{
    color: rgb(77, 77, 77);
    font-size: 13px;
    margin-bottom: 15px;
    width: 55%;
}

.btn-sabermais-img{
    height: 30px;
    width: 120px;
}

.carousel-indicators{
    bottom: 80px; 
    justify-content: left;
}

.carousel-indicators > button {
    background-color: transparent !important;
    border: 1px solid rgb(77, 77, 77)!important;
    border-radius: 50%!important;
    height: 20px!important;
    margin-right: 15px !important;
    width: 20px!important;
}

.carousel-indicators > button.active{
    background-color: rgb(77, 77, 77) !important;
}

/*  AREA TITULO  */

#titulo-caixa{
    background-color: white;
    height: 130px;
    margin-left: 90px;
    margin-top: -45px;
    position: relative;
    z-index: 30;   
}

#titulo{
    color: rgb(180, 125, 51);
    font-size: 18px;
    margin-top: 50px;
    margin-left: 55px;
}

#subtitulo{
    font-family: 'IBMPlexSans-Medium';
    margin-left: 55px;   
}

/* AREA CONTACTOS MAIN */

#area-texto{
    margin-top: 80px;
    padding: 0px;
}

.contactos-titulo-main{
    color: rgb(177, 126, 51);
    font-family: 'IBMPlexSans-Medium';
    font-size: 15px;
    text-transform: uppercase;
}

.contactos-texto-main{
    color: rgb(77, 77, 77);
    font-family: 'IBMPlexSans-Light';
    font-size: 14px;
    margin-top: 6px;
}

.linha-main{
    border-top: 1px solid black;
    margin: 40px auto;
    width: 60px;
}


/* CSS RODAPE */

/* CSS BARRA DE MENUS */

#barra-menus{
    margin-top: 80px;
    margin-bottom: 50px;
}

#menu-rodape-area{
    margin: 27px 0px;
    text-align: center;
}

.linha-rodape{
    border-top: 2px solid rgb(112, 112, 112);
    width: 95%;
}

.menu-rodape{
    color: rgb(77, 77, 77);
    font-family: 'LatoBlack';
    font-size: 16px;
    margin: 0px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-rodape.active{
    color: rgb(177, 126, 51);
}

.menu-rodape:hover{
   color: rgb(177, 126, 51);  
}

/* CSS CONTACTOS E REDES SOCIAIS */

#rodape-titulo{
    font-family: 'IBMPlexSans-Medium';
    margin-left: 43px;
}

#rodape-redes{
    margin-bottom: 75px;
    margin-top: 20px;
}

#contacto-items{
    margin-left: 43px;
}

.contactos-titulo{
    color: rgb(177, 126, 51);
    font-family: 'IBMPlexSans-Medium';
    font-size: 15px;
    margin-top: 20px;
    text-align: left;
    text-transform: uppercase;
}

.contactos-texto{
    color: rgb(77, 77, 77);
    font-family: 'IBMPlexSans-Light';
    font-size: 14px;
    margin-top: 6px;
}

.reclamacoes-ralc{
    margin-left: 43px;
    margin-top: 65px;
}

.reclamacoes{
    height: 31px;
    width: 77px;
}

.ralc{
    height: 29px;
    width: 125px;
}

.redes-area{
    text-align: center;
}

.redes-titulo{
    font-family: 'IBMPlexSans-Medium';
}

.redes-icons{
    margin-top: 30px;
}

.icon-item{
    width: 37px;
}

.icon-item:hover{
    filter: grayscale();
}

.redes-copyright{
    margin-top: 88px;
}