/*  AREA TITULO  */

#titulo-caixa{
    background-color: white;
    height: 130px;
    margin-left: 90px;
    margin-top: -45px;
    position: relative;
    z-index: 30;   
}

#titulo{
    color: rgb(180, 125, 51);
    font-size: 18px;
    margin-top: 50px;
    margin-left: 55px;
}

#subtitulo{
    font-family: 'IBMPlexSans-Medium';
    margin-left: 55px;   
}

/* AREA CONTACTOS MAIN */

#area-texto{
    margin-top: 80px;
    padding: 0px;
}

.contactos-titulo-main{
    color: rgb(177, 126, 51);
    font-family: 'IBMPlexSans-Medium';
    font-size: 15px;
    text-transform: uppercase;
}

.contactos-texto-main{
    color: rgb(77, 77, 77);
    font-family: 'IBMPlexSans-Light';
    font-size: 14px;
    margin-top: 6px;
}

.linha-main{
    border-top: 1px solid black;
    margin: 40px auto;
    width: 60px;
}
