/* CSS TITULO */

@media screen and (max-width: 360px) {


/* CSS BARRA NAVEGACAO */



/* CSS CARROSSEL */

#area-banner{
    font-family: 'IBMPlexSans-Light';
    height: 780px!important;
    max-width: 360px !important;
}




/* CSS BEM-VINDO */

#bemvindo-caixa{
    background-color: white;
    height: 1210px;
}

.bemvindo-img{
    box-shadow: 5px 5px 10px rgba(206, 205, 205);
    max-height: 396px;
    max-width: 286px;
    margin-top: 70px; 
}

.bemvindo-titulo{
    text-align: left;
}

#bemvindo-paragrafo{
    margin-top: 25px;
}

.bemvindo-botao{
    margin-top: 30px;
    text-align: center;
}

.caixa-separadora{
    border: none;
    box-shadow: 0px 5px 5px 0px rgba(178, 178, 178, 0.711);
    height: 20px;
}

/* CSS ULTIMOS LIVROS */

#ultimoslivros-area{
    margin-top: 80px;
    padding: 0px 15px;
}


#ultimoslivros-texto{
    margin-bottom: 80px;
    margin-top: 20px;
}


/* CSS LIVROS EM DESTAQUE */

.card {
    border: 0px;
    border-radius: 0px;
    box-shadow: 5px 5px 10px rgba(206, 205, 205);
    height: 630px;
    width: 280px;
    padding: 0px; 
}

.card > img{
    border-radius: 0px;
   
}

.card-body{
    padding: 25px 25px 0px 25px;
}

#destaques-titulo{
    font-size: 20px;
}

#destaques-paragrafo{
    margin-top: -10px;
}

#destaques-categoria{
    color: rgb(180, 125, 51);
    font-size: 'IBMPlexSans-Bold';
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
}

.destaques-botao{
    margin-top: -15px;
    margin-right: 8px;
    text-align: right;
}

/* CSS RODAPE */

/* CSS CONTACTOS E REDES SOCIAIS */

.linha-rodape-mobile{
    border-top: 2px solid rgb(158, 157, 157);
    margin: 60px 0px;
    width: 80%;
}

#rodape-titulo-mobile{
    font-family: 'IBMPlexSans-Medium';
}

#rodape-redes-mobile{
    margin-bottom: 75px;
    margin-top: 20px;
}

.contactos-titulo-mobile{
    color: rgb(177, 126, 51);
    font-family: 'IBMPlexSans-Medium';
    font-size: 15px;
    margin-top: 10px;
    text-transform: uppercase;
}

.contactos-texto-mobile{
    color: rgb(77, 77, 77);
    font-family: 'IBMPlexSans-Light';
    font-size: 14px;
}

.reclamacoes-ralc-mobile{
    margin-top: 65px;
}

.reclamacoes-mobile{
    height: 31px;
    width: 77px;
}

.ralc-mobile{
    height: 29px;
    width: 125px;
}

.redes-area-mobile{
    text-align: center;
}

.redes-titulo-mobile{
    font-family: 'IBMPlexSans-Medium';
    font-size: 20px;
    margin-top: 40px;
}

.redes-icons-mobile{
    margin-top: 30px;
}

.icon-item-mobile{
    width: 37px;
}

.redes-copyright-mobile{
    margin-top: 43px;
}
}

