/*  AREA TITULO  */

#titulo-caixa{
    background-color: white;
    height: 130px;
    margin-left: 90px;
    margin-top: -45px;
    margin-bottom: 65px;
    position: relative;
    z-index: 30;   
}

#titulo{
    color: rgb(180, 125, 51);
    font-size: 18px;
    margin-top: 50px;
    margin-left: 55px;
}

#subtitulo{
    font-family: 'IBMPlexSans-Medium';
    margin-left: 55px;   
}

/* AREA TEXTO */

.linha-lancamento{
    border-top: 1px solid rgb( 169, 115, 57);
    margin-top: 12px;
}

.data-publicacao{
    color: rgb(77, 77, 77);
    font-family: 'IBMPlexSans-Medium';
    font-size: 13px;
    margin-bottom: 40px;
    margin-top: 12px;
    text-transform: uppercase;
}

.caixa-separadora{
    border: none;
    box-shadow: 0px 5px 5px 0px rgba(178, 178, 178, 0.711);
    height: 60px;
    margin-bottom: 80px;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.page-link{
    border: none;
}

.page-link.num:hover{
    border: none;
    background-color: white;
    color: rgb(177, 126, 51);
}

.page-link.num{
    color: rgb(77, 77, 77);
    font-family: 'IBMPlexSans-Medium';
    font-size: 23px;
}

.page-link.active{
    background-color: white;
    color: rgb(177, 126, 51);
}

.page-link.setas>img{
    height: 30px;
    width: 17px;
}