/*  AREA LIVRO  */

@media all and (max-width: 1101px){
    #livro-img{
        width: 480px;
    }
}

@media all and (max-width: 990px){
    #livro-img{
        width: 420px;
    }

    .paragrafo{
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 30;
    }

}

@media all and (max-width: 768px){

    #titulo{
        margin-top: 45px !important;
        margin-left: 45px !important;
    }

    #subtitulo{
        margin-left: 45px !important; 
    }

    #livro-img{
        width: 380px;
    }

    .paragrafo{
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 20;
    }
}

@media all and (max-width: 505px){

    #titulo{
        margin-top: 35px !important;
        margin-left: 35px !important;
    }

    #subtitulo{
        margin-left: 35px !important;
        margin-bottom: 25px;
    }

    #livro-img > img{
        width: 290px;
    }
}

.paragrafo{
    margin-top: 40px;
}

#titulo-caixa{
    background-color: var(--branco);
    min-height: 130px;
    margin-top: -45px;
    margin-bottom: 65px;
    position: relative;
    z-index: 30;   
}

#titulo{
    color: var(--dourado-B4);
    font-size: 18px;
    margin-top: 50px;
    margin-left: 55px;
}

#subtitulo{
    font-family: 'IBMPlexSans-Medium';
    margin-left: 55px;   
}

.btn-voltar-livro{
    float: right !important;
    margin-top: 40px;
}