/*  AREA LIVRO  */

/* AREA DO TITULO */

@media all and (max-width: 1101px){
    .livro-img{
        width: 480px;
    }
}

@media all and (max-width: 990px){
    .livro-img{
        width: 420px;
    }

    .paragrafo{
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 30;
    }
}

@media all and (max-width: 768px){
    .livro-img{
        width: 380px;
    }

    .paragrafo{
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 20;
    }
}

@media all and (max-width: 505px){
    .livro-img{
        width: 290px;
    }
}

/* AREA TEXTO */

.paragrafo{
    margin-top: 40px;
}

#titulo-caixa{
    background-color: white;
    height: 130px;
    margin-left: 90px;
    margin-top: -45px;
    margin-bottom: 65px;
    position: relative;
    z-index: 30;   
}

#titulo{
    color: rgb(180, 125, 51);
    font-size: 18px;
    margin-top: 50px;
    margin-left: 55px;
}

#subtitulo{
    font-family: 'IBMPlexSans-Medium';
    margin-left: 55px;   
}

/* AREA DO LIVRO - TEXTO */

#livro-paragrafo{
    margin: 0px 57px 85px -35px;
}

.btn-voltar-atras{
    float: right;   
}