/*  AREA TITULO  */

#titulo-caixa{
    background-color: var(--branco);
    height: 130px;
    margin-top: -45px;
    margin-bottom: 65px;
    position: relative;
    z-index: 30;   
}

#titulo{
    color: var(--dourado-B4);
    font-size: 18px;
    margin-top: 50px;
    margin-left: 55px;
}

#subtitulo{
    font-family: 'IBMPlexSans-Medium';
    margin-left: 55px;   
}

@media all and (max-width: 1101px){
    .foto-autor{
        width: 480px;
    }
}

@media all and (max-width: 990px){
    .foto-autor{
        width: 420px;
    }

    .paragrafo{
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 30;
    }
}

@media all and (max-width: 768px){
    .foto-autor{
        width: 380px;
    }

    .paragrafo{
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 20;
    }
}

@media all and (max-width: 505px){
    .foto-autor{
        width: 290px;
    }
}

/* AREA TEXTO */

.paragrafo{
    margin-top: 40px;
}

.btn-vermais-autor{
    margin-top: 40px;
}

.btn-voltar-autor{
    margin-top: 20px;
}




