/*  AREA TITULO  */

#titulo-caixa{
    background-color: var(--branco);
    height: 130px;
    margin-top: -45px;
    margin-bottom: 65px;
    position: relative;
    z-index: 30;   
}

#titulo{
    color: var(--dourado-B4);
    font-size: 18px;
    margin-top: 50px;
    margin-left: 55px;
}

#subtitulo{
    font-family: 'IBMPlexSans-Medium';
    margin-left: 55px;   
}

@media all and (max-width: 1101px){
    .foto-autor{
        width: 480px;
    }
}

@media all and (max-width: 990px){
    .foto-autor{
        width: 420px;
    }

    .btn-voltar-autor{
        justify-content: center;
    }
}

@media all and (max-width: 768px){
    .foto-autor{
        width: 380px;
    }

}

@media all and (max-width: 505px){
    .foto-autor{
        width: 290px;
    }
}

/* AREA TEXTO */

#textoCompleto {
    display: inline;
}

#textoCurto {
    display: none;
}

#btnvermenos{
    background-color: var(--dourado-B4);
    border: none;
    color: var(--branco);
    font-family: 'LatoBold';
    font-size: 9px;
    height: 30px;
    margin-top: 40px;
    text-transform: uppercase;
    width: 100px;
}

#btnvermais{
    background-image: url("../imgs/desktop/vermais.svg");
    border: none;
    height: 30px;
    margin-top: 40px;
    width: 100px;
}

#btnvermais:hover{
    background-image: url("../imgs/desktop/vermais-cinza.svg");
}

.btn-voltar-autor{
    margin-top: 30px;
}




