/* CSS EM COMUM PARA TODAS AS PÁGINAS*/

/*FONTS - IBM PLEX SANS*/

@font-face {
    font-family:'IBMPlexSans-Bold';
    src: url('../fonts/IBMPlexSans-Bold.ttf');
}

@font-face {
    font-family:'IBMPlexSans-Medium';
    src: url('../fonts/IBMPlexSans-Medium.ttf');
}

@font-face {
    font-family:'IBMPlexSans-Light';
    src: url('../fonts/IBMPlexSans-Light.ttf');
}

/*FONTS - LATO*/
@font-face {
    font-family:'LatoBlack';
    src: url('../fonts/Lato-Black.ttf');
}

@font-face {
    font-family:'LatoBold';
    src: url('../fonts/Lato-Bold.ttf');
}

/* CORES */
:root{
    --cinza-1D: rgb(29, 29, 29) !important;
    --cinza-70: rgb(112, 112, 112) !important;
    --cinza-4D: rgb(77, 77, 77) !important;
    --dourado-B4: rgb(180, 125, 51) !important;
    --dourado-B1: rgb(177, 126, 59) !important;
    --dourado-A9: rgb(169, 115, 57) !important;
    --branco: rgb(255, 255, 255) !important;
    --preto: rgb(0, 0, 0) !important;
}

/* SCROLL PARA MAIN */
html{
    scroll-behavior: smooth;
}

/* BOTÕES */

.btn-voltar{
    background-image: url("../imgs/desktop/voltar1.svg");
    border: none;
    height: 30px;
    width: 132px;
}

.btn-voltar:hover{
    background-image: url("../imgs/desktop/voltar2.svg");
}

.btn-sabermais{
    background-image: url("../imgs/desktop/sabermais1.svg");
    border: none;
    width: 120px;
    height: 30px;    
}

.btn-sabermais:hover{
    background-image: url("../imgs/desktop/sabermais2.svg");
}

.btn-vermais{
    background-image: url("../imgs/desktop/vermais.svg");
    border: none;
    height: 30px;
    width: 100px;
}

.btn-vermais:hover{
    background-image: url("../imgs/desktop/vermais-cinza.svg");
}

/* CSS TEXTO */
.t1{
    font-family: 'IBMPlexSans-Bold';
    font-size: 25px;
    text-transform: uppercase;
    color: var(--cinza-4D);
}

.p{
    font-family: 'IBMPlexSans-Light';
    font-size: 13px;
    color: var(--cinza-4D);
}

.titulo{
    font-family: 'IBMPlexSans-Bold';
    font-size: 35px;
    text-transform: uppercase;
    color: var(--cinza-4D);
}

/* HEADER */

#topo{
    position: absolute;
    z-index: 100;
}

.cabecalho-titulo{
    color:var(--cinza-4D);
    font-family:'IBMPlexSans-Bold';
    font-size: 40px;
    margin-top: 52px;
    text-transform: uppercase; 
}

.linha-cabecalho{
    border-top: 1px solid var(--cinza-70);
    margin-top: 10px;
}


/* CSS BARRA NAVEGACAO */

.navbar-toggler{
    border: none;
}

.navbar-toggler-icon {
    width: 35px !important;
    height: 25px !important;  
    padding: 15px;
    margin-right: 10px;
    background-image: url("../imgs/desktop/menu.svg") !important;
}
  
.navbar-toggler[aria-expanded="true"] > .navbar-toggler-icon {
    background-image: url("../imgs/desktop/fechar.svg") !important;
}

.nav-link{
    color: var(--cinza-4D);
    font-family: 'LatoBlack';
    font-size: 18px;
    text-transform: uppercase;
}

.nav-link:hover{
    color: var(--dourado-B1);
}

.nav-link.active{
    color: var(--dourado-B1) !important;
}

.dropdown-menu{
    color: var(--cinza-4D);
    border: none;
    border-radius: 0px;
    box-shadow: 0px 0px 17px 0px;
    font-family: 'IBMPlexSans-Medium';
    font-size: 13px;
    padding: 25px 15px 30px 15px;
    text-transform: uppercase;
    max-width: 275px;
}

.dropdown-item.active{
    background-color: var(--branco) !important;
    color: var(--dourado-B4);
}

.dropdown-item:hover{
    background-color: var(--branco);
    color: var(--dourado-B4);
}

@media all and (max-width: 575px){

    .navbar-nav{
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 40px;
    }
}

/* CSS CARROSSEL */

#area-banner{
    font-family: 'IBMPlexSans-Light';
    height: 730px;
}

.banner-imagem{
    height: 730px;
}

.carousel-caption{
    position: absolute;
    text-align: left;
    top: 30%;
}

.banner-novidade{
    color: var(--dourado-B4);
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.banner-titulo{
    color: var(--cinza-4D);
    font-size: 40px;
    font-family: 'IBMPlexSans-Light';
    margin-bottom: 15px;
    text-transform: uppercase;
    width: 55%;
}

.banner-texto{
    color: var(--cinza-4D);
    font-size: 13px;
    margin-bottom: 15px;
    width: 55%;
}

.carousel-indicators{
    bottom: 80px; 
    justify-content: left;
}

.carousel-indicators > button {
    background-color: transparent !important;
    border: 1px solid var(--cinza-4D) !important;
    border-radius: 50%!important;
    height: 20px!important;
    margin-right: 15px !important;
    width: 20px!important;
}

.carousel-indicators > button.active{
    background-color: var(--cinza-4D) !important;
}


@media all and (max-width: 1190px) {

    .cabecalho-titulo{
        font-size: 35px;
    }
    
}

@media all and (max-width: 1115px) {

    .cabecalho-titulo {   
        font-size: 30px;      
    }

    .novidade{
        font-size: 30px;
    }
    
}

@media all and (max-width: 848px) {
    
    .banner-titulo{
       font-size: 30px; 
    }
    
}

@media all and (max-width: 768px) {

    .cabecalho-titulo{   
        font-size: 22px;
        margin-top: 0px;    
        position: relative;     
    }
   
}

@media all and (max-width: 654px) {

    .banner-titulo{
       font-size: 25px;
       width: 55%; 
    }

    .banner-texto{
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
    }

}

@media all and (max-width: 575px){

    #area-banner-mobile{
        background-color: rgb(221, 221, 221);
        max-height: 760px;
    }

    .carousel-indicators{     
        justify-content: left;
    }

    .banner-imagem{
        margin: auto;
        max-height: 760px !important;
        width: 360px;
    }

    .carousel-caption{
        top: 45%;
    }

    .banner-titulo{
        width: auto;
    }

    .banner-texto{
        margin-bottom: 15px;
        margin-top: 15px;
        width: 75vw;
    }

    .carousel-indicators{
        margin-top: -20px;
        justify-content: left;
    }

    .carousel-indicators > button {
        background-color: transparent !important;
        border: 1px solid rgb(77, 77, 77)!important;
        border-radius: 50%!important;
        height: 20px!important;
        margin-right: 15px !important;
        width: 20px!important;
    }

    .carousel-indicators > button.active{
        background-color: rgb(77, 77, 77) !important;
    }
}


/* FOOTER */

/* CSS BARRA DE MENUS */

#barra-menus{
    margin-top: 106px;
    margin-bottom: 50px;
}

#menu-rodape-area{
    margin: 27px 0px;
    text-align: center;
}

.linha-rodape{
    border-top: 2px solid rgb(112, 112, 112);
    width: 95%;
}

.menu-rodape{
    color: rgb(77, 77, 77);
    font-family: 'LatoBlack';
    font-size: 16px;
    margin: 0px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-rodape.active{
    color: rgb(177, 126, 51);
}

.menu-rodape:hover{
   color: rgb(177, 126, 51);  
}

/* CSS CONTACTOS E REDES SOCIAIS */

.linha-rodape-mobile{
    border-top: 2px solid rgb(158, 157, 157);
    margin: 60px 0px;
}

#rodape-titulo{
    font-family: 'IBMPlexSans-Medium';
    margin-left: 43px;
}

#rodape-redes{
    margin-bottom: 75px;
    margin-top: 20px;
}

#contacto-items{
    margin-left: 43px;
}

.contactos-titulo{
    color: var(--dourado-B1);
    font-family: 'IBMPlexSans-Medium';
    font-size: 15px;
    margin-top: 20px;
    text-align: left;
    text-transform: uppercase;
}

.contactos-texto{
    color: var(--cinza-4D);
    font-family: 'IBMPlexSans-Light';
    font-size: 14px;
    margin-top: 6px;
}

.reclamacoes-ralc{
    margin-left: 43px;
    margin-top: 65px;
}

.reclamacoes{
    height: 31px;
    width: 77px;
}

.ralc{
    height: 29px;
    width: 125px;
}

.redes-area{
    text-align: center;
}

.instagram{
    background-image: url("/public/imgs/desktop/instagram1.svg");
    border: none;
    height: 30px;
    width: 132px;
}

.redes-copyright{
    margin-top: 88px;
}

@media all and (max-width: 768px){

    #rodape-titulo{
        margin: 0px;
    }

    #contacto-items{
        margin: 0px;
    }

    .contactos-titulo{
        text-align: center;
    }

    .redes-titulo{
        font-size: 20px;
        margin-top: 30px;
    }

    .reclamacoes-ralc{
        margin-left: 0px;
    }

    .redes-copyright{
        margin-top: 43px;
    }

}