/* CSS BEM-VINDO */

#bemvindo-caixa{
    background-color: var(--branco);
    height: 538px;
    margin-top: -45px;
    position: relative;
    z-index: 30;   
}

#bemvindo-img{
    box-shadow: 5px 5px 10px rgba(206, 205, 205);
    height: 396px;
    margin: 65px 0px 60px 50px;
    width: 312px;
    padding: 0px;
}

.bemvindo-texto{
    margin-top: 60px;
    width: 70%;
}

.bemvindo-paragrafo{
    margin-top: 30px;
}

.bemvindo-btn{
    margin-top: 40px;
    float: right;
}

.caixa-separadora{
    border: none;
    box-shadow: 0px 5px 5px 0px rgba(178, 178, 178, 0.711);
    height: 20px;
}

@media all and (max-width: 1134px){
    
    .bemvindo-paragrafo{
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 15;
    }
}

@media all and (max-width: 917px){
    
    .bemvindo-paragrafo{
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 13;
    }
}

@media all and (max-width: 767px){
    
    #bemvindo-caixa{
        box-shadow: 5px 5px 10px rgb(110, 110, 110);
        display: flex;
        justify-content: center;
        height: 950px;
    }

    #bemvindo-img{
        margin: 70px 0px 0px 0px !important;
    }

    .bemvindo-texto{
        margin-top: 0px;
        width: 85%;
    }

    .bemvindo-titulo{
        text-align: left;
    }

    .bemvindo-paragrafo{
        display: block;
    }

    .bemvindo-botao{
        margin-top: 30px;
        text-align: center;
    }
}

@media all and (max-width: 668px){
    
    #bemvindo-caixa{
        height: 1010px;
    }
}

@media all and (max-width: 570px){
    
    #bemvindo-caixa{
        height: 1050px;
    }
}

@media all and (max-width: 430px){
    
    #bemvindo-caixa{
        height: 1210px;
    }

    #bemvindo-img {
        height: auto;
        width: 290px; 
    }
}


/* CSS ULTIMOS LIVROS */

#ultimoslivros-area{
    margin-left: 20px;
    margin-top: 85px;
}

#ultimoslivros-texto{
    margin: 23px 0px 70px 0px;
}

/* CSS LIVROS EM DESTAQUE */

.card {
    border: 0px;
    border-radius: 0px;
    box-shadow: 5px 5px 10px rgba(206, 205, 205);
    height: 700px;
    max-width: 335px;
    padding: 0px;  
}

.card > img{
    border-radius: 0px;
    max-height: 428px;
}

.card-body{
    padding: 25px 25px 0px 25px;
}

#destaques-titulo{
    font-size: 23px;
}

#destaques-categoria{
    color: var(--dourado-B4);
    font-size: 'IBMPlexSans-Bold';
    font-size: 14px;
    text-transform: uppercase;
}

.destaques-botao{
    margin-right: 8px;
    margin-bottom: 10px;
    text-align: right;
}