/*  AREA IMPRENSA  */

@media all and (max-width: 768px){

    #titulo{
        margin-top: 45px !important;
        margin-left: 45px !important;
    }

    #subtitulo{
        margin-left: 45px !important; 
        padding-top: 15px;
    }
}

@media all and (max-width: 505px){

    #titulo{
        margin-top: 35px !important;
        margin-left: 35px !important;
    }

    #subtitulo{
        margin-left: 35px !important;
        margin-bottom: 25px;
    }

}

#titulo-caixa{
    background-color: var(--branco);
    height: 130px;
    margin-top: -45px;
    margin-bottom: 65px;
    position: relative;
    z-index: 30;   
}

#titulo{
    color: var(--dourado-B4);
    font-size: 18px;
    margin-top: 50px;
    margin-left: 55px;
}

#subtitulo{
    font-family: 'IBMPlexSans-Medium';
    margin-left: 55px;   
}

#livro-img img{
    display: flex;
    max-height: 500px;
    width: auto;
    margin: auto;
}

/* AREA TEXTO */

.linha-lancamento{
    border-top: 1px solid rgb( 169, 115, 57);
    margin-top: 12px;
}

.data-publicacao{
    color: rgb(77, 77, 77);
    font-family: 'IBMPlexSans-Medium';
    font-size: 13px;
    margin-bottom: 40px;
    margin-top: 12px;
    text-transform: uppercase;
}

.caixa-separadora{
    border: none;
    box-shadow: 0px 5px 5px 0px rgba(178, 178, 178, 0.711);
    height: 60px;
    margin-bottom: 80px;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.page-link{
    border: none;
}

.page-link.num:hover{
    border: none;
    background-color: white;
    color: rgb(177, 126, 51);
}

.btn-pagina{
    background-color: white !important;
    border: none !important;
    color: var(--cinza-4D);
    font-family: 'IBMPlexSans-Medium';
    font-size: 23px;
}

.btn-pagina:hover{
    color: var(--dourado-B1);
}

.btn-imprensa-esq{
    background-color: white !important;
    background-image: url("../imgs/desktop/setaesquerda1.svg");
    border: none !important;
    height: 30px;
    margin-right: 40px;
    width: 17px;
}

.btn-imprensa-esq:hover{
    background-image: url("../imgs/desktop/setaesquerda2.svg") !important;
}

.btn-imprensa-dir{
    background-color: white !important;
    background-image: url("../imgs/desktop/setadireita1.svg");
    border: none !important;
    height: 30px;
    margin-left: 40px;
    width: 17px; 
}

.btn-imprensa-dir:hover{
    background-image: url("../imgs/desktop/setadireita2.svg") !important;
}